repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # each hook takes about 1s to run. These are expensive-ish checks
      - id: check-added-large-files
        args: ['--maxkb=800']
      - id: check-ast
      - id: check-yaml
      - id: check-builtin-literals
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: debug-statements
      - id: detect-private-key
      - id: forbid-new-submodules
      # - id: check-vcs-permalinks
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        exclude: ^dead_code/
        args: [
          "--config",
          "pyproject.toml",
          "--fix",
        ]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0  # Use the ref you want to point at
    hooks:
      - id: python-no-log-warn
      - id: text-unicode-replacement-char