repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
# each hook takes about 1s to run. These are expensive-ish checks
    -   id: check-added-large-files
#    -   id: check-ast
#    -   id: check-yaml

#    -   id: end-of-file-fixer
#    -   id: trailing-whitespace
    -   id: check-builtin-literals
    -   id: check-byte-order-marker
    -   id: check-case-conflict
#    -   id: check-docstring-first
    -   id: check-merge-conflict
    -   id: check-symlinks
#    -   id: check-toml
#    -   id: check-xml
#        exclude: (.idea/*|coverage/*)
#    -   id: check-yaml
    -   id: debug-statements
    # fails if you don't have a known credentials file
    # -   id: detect-aws-credentials
    -   id: detect-private-key

#    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: forbid-new-submodules
    # doesn't seem to autofix
    # -   id: mixed-line-ending
    # tool that generates requirements.txt doesn't output in sorted format
    # -   id: requirements-txt-fixer

    #too nitpicky
    #-   id: flake8

-   repo: https://github.com/psf/black
    rev: 19.3b0
    hooks:
    -   id: black
