include *.lock
include *.md
include *.py
include *.sh
include *.txt
include *.yml
include AUTHORS
include ChangeLog
include LICENSE
include Pipfile
include Pipfile_nodev
include pylintrc.ini
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.sh
recursive-include docs Makefile
recursive-include extra *.py
recursive-include fetch_raw_data *.py
recursive-include fetch_raw_data *.sh
recursive-include sample_projects *.py
recursive-include test *.py
recursive-include test *.sh
recursive-include usage_example *.py
prune docs
prune sample_projects
prune usage_example
prune