[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
semantic-version = "*"
docopt = "*"
parver = "*"
cmp-version = "*"
versio = "*"
chardet = "*"

[dev-packages]
checksumdir = "==1.1.7"
pytest = "*"
pytest-cov = "*"
pytest-timeout = "*"
pytest-xdist = "*"
requests = "==2.22.0"
dodgy = "==0.2.1"
psutil = "==5.6.7"
pebble = "==4.5.0"
python-dotenv = "==0.11.0"
gitpython = "*"
liccheck = "*"
wheel = "*"
ifaddr = "*"

[requires]
python_version = "3.8"
